name: Python Unittests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # No extra install needed for unittest as it is built-in
        
    - name: Run Unittests
      # Runs the specific test file inside the 'test' folder
      run: python -m unittest test.test_unittest
      
    - name: Notify Success
      if: success()
      run: echo "Unit tests passed successfully"
      
    - name: Notify Failure
      if: failure()
      run: echo "Unit tests failed"